@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 9%;
  --primary: 0 100% 50%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 93%;
    --primary: 0 100% 50%;
  }
}

body {
  @apply bg-background text-foreground;
}
